{% extends 'layouts/application.html' %}

{% set title = "Home" %}

{% block content %}
<div>
  <div class='eight columns'>
    <h3>Welcome to pretty RTPI!</h3>
    <p>This is an attempt make a nice interface for Dublin Bus RTPI. Its by no means finished; see <a href="about.html">About</a>
      for more information about features I plan to add.</p>
    <p>
      To try it out enter a stop number in the form on the right and click Submit. Can't think of a stop number click <a href="stop.html?id=2311">here</a> to see Realtime information for Kevin Street.
    </p>
  </div>
  <div class='four columns' data-module="Search">
  </div>
</div>
{% endblock %}
