{% extends 'layouts/application.html' %}

{% set title = "Stop" %}

{% block content %}
  <div data-module="Stop">
    <div class="error"></div>
    <div class="stop-info"></div>
    <div class="realtimeinfo twelve columns"></div>
  </div>
{% endblock %}
