@import "base/typography";
@import "skeleton.scss";
@import "./_config";
@import "./NavBar";
@import "./utils";

.stop-info{
  font-size: 1.5em;
  font-weight: 600;
}

.search-button{
  float:right;
  padding-left: 2em;
  padding-right: 2em;
}

.search-input{
  float:left;
}

.button.disabled{
  background-color: #b5b5b4;
  border-color: #b5b5b4;
}
