@import './_config';
$nav-background: rgba(0,0,0,0.06) !default;
$nav-background-active: darken($nav-background, 60%) !default;
$nav-hamburger-color: #000000 !default;
$nav-link-hover: #33c3f0 !default;
$nav-link-color: #000000 !default;
$nav-shadow-color: #DCDCDC !default;

.nav {
  top:0px;
  position:relative;
  margin-bottom: 2em;
  background: linear-gradient(top, rgba(0,0,0,0) 0%, $nav-background);
  box-shadow: 0px 3px 15px 0px $nav-shadow-color;
  border-radius: 0px 0px 20px 20px;

  .hideMenu{
    display:inline-block;
  }

  ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
  }

  li{
    display:inline-block;
    border-right: solid black 1px;
    margin-bottom: 0px;
  }

  a{
    text-decoration:None;
    font-weight:bold;
    display: block;
    padding:20px;
    color:$nav-link-color;
  }

  a:hover {
    color:$nav-link-hover;
  }

  a:focus {
    color: $nav-link-hover;
  }

  a.link-active{
      color: $nav-link-hover;
      background: linear-gradient(top, rgba(0,0,0,0) 0%, $nav-background-active);
  }

  li:first-child a.link-active{
            border-radius: 0px 0px 0px 20px;
  }
}

@media (max-width: $mobile-portrait-width) {
  .nav{
    .hamburger{
      border-radius:5px;
      border:rgba(0,0,0,0) solid 2px;
      width: 50px;
      div{
        display:block;
        width:40px;
        height:5px;
        background: $nav-hamburger-color;
        margin: 5px;
      }
    }

    .hideMenu{
      display:none;
    }

    li{
      padding-top:2px;
      padding-left:0px;
      display:block;
      border-right:none;
    }

    li:first-child a.link-active{
              border-radius: 0px 0px 0px 0px;
    }

    li:last-child a.link-active{
              border-radius: 0px 0px 20px 20px;
    }
  }
}
