<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block menu%}
      <div class='nav' data-module="NavBar">
        <div class='nav-content'>
          <div class='hamburger'>
            <div></div>
            <div></div>
            <div></div>
          </div>
        <div class='nav-menu'>
          <ul class='hideMenu'>
          {%for menu_item in menu_items%}
            <li><a {% if title === menu_item.title %} class="link-active" {%endif%} href="{{menu_item.file}}">{{menu_item.title}}</a></li>
          {%endfor%}
          </ul>
        </div>
      </div>
    </div>
    {%endblock%}
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
